[data-object]:hover{
	/*border:1px solid rgba(0,0,0,0.4);*/
	position: relative;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.1);
	/*margin: -2px !important;*/
}

/*[data-object]:hover:before{
	font-family: "Glyphicons Halflings";
	content: "\270f";
	left:85%;
	top:5%;
	color:#2AA244;
	position:absolute;
	font-size: 24px;
}*/

[data-object] + span{
	display:none;
}

[data-object]:hover + span{
	display:block;
}

[data-object] + span:hover{
	display:block;
}
