<h3>Messages</h3>
<p>Contact Messages provide for users contact form</p>
<br>
<table id='Listform' class='table table-bordered'>
	<thead>
		<tr>				
			<th>Email</th>
			<th>Subject</th>
			<!-- <th>Ip Address</th> -->
			<th>Country</th>
			<th>Date</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody id='form'>
		
		<!-- {{#each array_list}} -->
		<tr ng-repeat="msn in message">
			<td>
				{{msn.email}}
			</td>
			<td>
				{{msn.subject}}
			</td>
			<td>
				{{msn.country_name}}
			</td>
			<td>
				{{msn.date}}
			</td>
			<td>
				<a href='#messages/{{msn.idform}}' class='edit text-success'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;&nbsp;<a href='javascript:;;' id="{{msn.idform}}" class='delete text-danger'><i class='glyphicon glyphicon-trash'></i></a>
			</td>
		</tr>
		<!-- {{/each}} -->

		
	</tbody>
</table>