<div id="modal_language" class="ui small modal">
  <i class="close icon closing"></i>
  <div class="header">
    Language Detail
  </div>
  <div class="content">
    <div class="description">      
      <form id='save_language' class='form-horizontal' role='form'>
        <div class='form-group'>
          <label for='background' class='col-sm-2 control-label'>Language</label>
          <div class='col-sm-9'>
            <input type='text' class='form-control form-values language' id='name' ng-model="lang.name" placeholder='Enter Language' required>
          </div>
        </div>
        <div class='form-group'>
          <label for='subheader' class='col-sm-2 control-label'>Flag</label>
          <div class='col-sm-9'>
            <div id="flag_selector" class="ui search fluid selection dropdown">
              <input id="flag" name="country" class="form-values language" type="hidden" ng-model="lang.min" required>
              <i class="dropdown icon"></i>
              <div class="default text">Select Country</div>
              <ul class="menu">
                  <li class="item" data-value="ad"><i class="flag-icon-ad flag-icon flag-icon-squared rounder"></i> Andorra</li>
                  <li class="item" data-value="ae"><i class="flag-icon-ae flag-icon flag-icon-squared rounder"></i> United Arab Emirates</li>
                  <li class="item" data-value="af"><i class="flag-icon-af flag-icon flag-icon-squared rounder"></i> Afghanistan</li>
                  <li class="item" data-value="ag"><i class="flag-icon-ag flag-icon flag-icon-squared rounder"></i> Antigua</li>
                  <li class="item" data-value="ai"><i class="flag-icon-ai flag-icon flag-icon-squared rounder"></i> Anguilla</li>
                  <li class="item" data-value="al"><i class="flag-icon-al flag-icon flag-icon-squared rounder"></i> Albania</li>
                  <li class="item" data-value="am"><i class="flag-icon-am flag-icon flag-icon-squared rounder"></i> Armenia</li>
                  <!-- <li class="item" data-value="an"><i class="flag-icon-an flag-icon flag-icon-squared rounder"></i> Netherlands Antilles</li> -->
                  <li class="item" data-value="ao"><i class="flag-icon-ao flag-icon flag-icon-squared rounder"></i> Angola</li>
                  <li class="item" data-value="ar"><i class="flag-icon-ar flag-icon flag-icon-squared rounder"></i> Argentina</li>
                  <li class="item" data-value="as"><i class="flag-icon-as flag-icon flag-icon-squared rounder"></i> American Samoa</li>
                  <li class="item" data-value="at"><i class="flag-icon-at flag-icon flag-icon-squared rounder"></i> Austria</li>
                  <li class="item" data-value="au"><i class="flag-icon-au flag-icon flag-icon-squared rounder"></i> Australia</li>
                  <li class="item" data-value="aw"><i class="flag-icon-aw flag-icon flag-icon-squared rounder"></i> Aruba</li>
                  <li class="item" data-value="ax"><i class="flag-icon-ax flag-icon flag-icon-squared rounder"></i> Aland Islands</li>
                  <li class="item" data-value="az"><i class="flag-icon-az flag-icon flag-icon-squared rounder"></i> Azerbaijan</li>
                  <li class="item" data-value="ba"><i class="flag-icon-ba flag-icon flag-icon-squared rounder"></i> Bosnia</li>
                  <li class="item" data-value="bb"><i class="flag-icon-bb flag-icon flag-icon-squared rounder"></i> Barbados</li>
                  <li class="item" data-value="bd"><i class="flag-icon-bd flag-icon flag-icon-squared rounder"></i> Bangladesh</li>
                  <li class="item" data-value="be"><i class="flag-icon-be flag-icon flag-icon-squared rounder"></i> Belgium</li>
                  <li class="item" data-value="bf"><i class="flag-icon-bf flag-icon flag-icon-squared rounder"></i> Burkina Faso</li>
                  <li class="item" data-value="bg"><i class="flag-icon-bg flag-icon flag-icon-squared rounder"></i> Bulgaria</li>
                  <li class="item" data-value="bh"><i class="flag-icon-bh flag-icon flag-icon-squared rounder"></i> Bahrain</li>
                  <li class="item" data-value="bi"><i class="flag-icon-bi flag-icon flag-icon-squared rounder"></i> Burundi</li>
                  <li class="item" data-value="bj"><i class="flag-icon-bj flag-icon flag-icon-squared rounder"></i> Benin</li>
                  <li class="item" data-value="bm"><i class="flag-icon-bm flag-icon flag-icon-squared rounder"></i> Bermuda</li>
                  <li class="item" data-value="bn"><i class="flag-icon-bn flag-icon flag-icon-squared rounder"></i> Brunei</li>
                  <li class="item" data-value="bo"><i class="flag-icon-bo flag-icon flag-icon-squared rounder"></i> Bolivia</li>
                  <li class="item" data-value="br"><i class="flag-icon-br flag-icon flag-icon-squared rounder"></i> Brazil</li>
                  <li class="item" data-value="bs"><i class="flag-icon-bs flag-icon flag-icon-squared rounder"></i> Bahamas</li>
                  <li class="item" data-value="bt"><i class="flag-icon-bt flag-icon flag-icon-squared rounder"></i> Bhutan</li>
                  <li class="item" data-value="bv"><i class="flag-icon-bv flag-icon flag-icon-squared rounder"></i> Bouvet Island</li>
                  <li class="item" data-value="bw"><i class="flag-icon-bw flag-icon flag-icon-squared rounder"></i> Botswana</li>
                  <li class="item" data-value="by"><i class="flag-icon-by flag-icon flag-icon-squared rounder"></i> Belarus</li>
                  <li class="item" data-value="bz"><i class="flag-icon-bz flag-icon flag-icon-squared rounder"></i> Belize</li>
                  <li class="item" data-value="ca"><i class="flag-icon-ca flag-icon flag-icon-squared rounder"></i> Canada</li>
                  <li class="item" data-value="cc"><i class="flag-icon-cc flag-icon flag-icon-squared rounder"></i> Cocos Islands</li>
                  <li class="item" data-value="cd"><i class="flag-icon-cd flag-icon flag-icon-squared rounder"></i> Congo</li>
                  <li class="item" data-value="cf"><i class="flag-icon-cf flag-icon flag-icon-squared rounder"></i> Central African Republic</li>
                  <li class="item" data-value="cg"><i class="flag-icon-cg flag-icon flag-icon-squared rounder"></i> Congo Brazzaville</li>
                  <li class="item" data-value="ch"><i class="flag-icon-ch flag-icon flag-icon-squared rounder"></i> Switzerland</li>
                  <li class="item" data-value="ci"><i class="flag-icon-ci flag-icon flag-icon-squared rounder"></i> Cote lioire</li>
                  <li class="item" data-value="ck"><i class="flag-icon-ck flag-icon flag-icon-squared rounder"></i> Cook Islands</li>
                  <li class="item" data-value="cl"><i class="flag-icon-cl flag-icon flag-icon-squared rounder"></i> Chile</li>
                  <li class="item" data-value="cm"><i class="flag-icon-cm flag-icon flag-icon-squared rounder"></i> Cameroon</li>
                  <li class="item" data-value="cn"><i class="flag-icon-cn flag-icon flag-icon-squared rounder"></i> China</li>
                  <li class="item" data-value="co"><i class="flag-icon-co flag-icon flag-icon-squared rounder"></i> Colombia</li>
                  <li class="item" data-value="cr"><i class="flag-icon-cr flag-icon flag-icon-squared rounder"></i> Costa Rica</li>
                  <li class="item" data-value="cs"><i class="flag-icon-cs flag-icon flag-icon-squared rounder"></i> Serbia</li>
                  <li class="item" data-value="cu"><i class="flag-icon-cu flag-icon flag-icon-squared rounder"></i> Cuba</li>
                  <li class="item" data-value="cv"><i class="flag-icon-cv flag-icon flag-icon-squared rounder"></i> Cape Verde</li>
                  <li class="item" data-value="cx"><i class="flag-icon-cx flag-icon flag-icon-squared rounder"></i> Christmas Island</li>
                  <li class="item" data-value="cy"><i class="flag-icon-cy flag-icon flag-icon-squared rounder"></i> Cyprus</li>
                  <li class="item" data-value="cz"><i class="flag-icon-cz flag-icon flag-icon-squared rounder"></i> Czech Republic</li>
                  <li class="item" data-value="de"><i class="flag-icon-de flag-icon flag-icon-squared rounder"></i> Germany</li>
                  <li class="item" data-value="dj"><i class="flag-icon-dj flag-icon flag-icon-squared rounder"></i> Djibouti</li>
                  <li class="item" data-value="dk"><i class="flag-icon-dk flag-icon flag-icon-squared rounder"></i> Denmark</li>
                  <li class="item" data-value="dm"><i class="flag-icon-dm flag-icon flag-icon-squared rounder"></i> Dominica</li>
                  <li class="item" data-value="do"><i class="flag-icon-do flag-icon flag-icon-squared rounder"></i> Dominican Republic</li>
                  <li class="item" data-value="dz"><i class="flag-icon-dz flag-icon flag-icon-squared rounder"></i> Algeria</li>
                  <li class="item" data-value="ec"><i class="flag-icon-ec flag-icon flag-icon-squared rounder"></i> Ecuador</li>
                  <li class="item" data-value="ee"><i class="flag-icon-ee flag-icon flag-icon-squared rounder"></i> Estonia</li>
                  <li class="item" data-value="eg"><i class="flag-icon-eg flag-icon flag-icon-squared rounder"></i> Egypt</li>
                  <li class="item" data-value="eh"><i class="flag-icon-eh flag-icon flag-icon-squared rounder"></i> Western Sahara</li>
                  <li class="item" data-value="er"><i class="flag-icon-er flag-icon flag-icon-squared rounder"></i> Eritrea</li>
                  <li class="item" data-value="es"><i class="flag-icon-es flag-icon flag-icon-squared rounder"></i> Spain</li>
                  <li class="item" data-value="et"><i class="flag-icon-et flag-icon flag-icon-squared rounder"></i> Ethiopia</li>
                  <li class="item" data-value="eu"><i class="flag-icon-eu flag-icon flag-icon-squared rounder"></i> European Union</li>
                  <li class="item" data-value="fi"><i class="flag-icon-fi flag-icon flag-icon-squared rounder"></i> Finland</li>
                  <li class="item" data-value="fj"><i class="flag-icon-fj flag-icon flag-icon-squared rounder"></i> Fiji</li>
                  <li class="item" data-value="fk"><i class="flag-icon-fk flag-icon flag-icon-squared rounder"></i> Falkland Islands</li>
                  <li class="item" data-value="fm"><i class="flag-icon-fm flag-icon flag-icon-squared rounder"></i> Micronesia</li>
                  <li class="item" data-value="fo"><i class="flag-icon-fo flag-icon flag-icon-squared rounder"></i> Faroe Islands</li>
                  <li class="item" data-value="fr"><i class="flag-icon-fr flag-icon flag-icon-squared rounder"></i> France</li>
                  <li class="item" data-value="ga"><i class="flag-icon-ga flag-icon flag-icon-squared rounder"></i> Gabon</li>
                  <li class="item" data-value="gb"><i class="flag-icon-gb flag-icon flag-icon-squared rounder"></i> England</li>
                  <li class="item" data-value="gd"><i class="flag-icon-gd flag-icon flag-icon-squared rounder"></i> Grenada</li>
                  <li class="item" data-value="ge"><i class="flag-icon-ge flag-icon flag-icon-squared rounder"></i> Georgia</li>
                  <li class="item" data-value="gf"><i class="flag-icon-gf flag-icon flag-icon-squared rounder"></i> French Guiana</li>
                  <li class="item" data-value="gh"><i class="flag-icon-gh flag-icon flag-icon-squared rounder"></i> Ghana</li>
                  <li class="item" data-value="gi"><i class="flag-icon-gi flag-icon flag-icon-squared rounder"></i> Gibraltar</li>
                  <li class="item" data-value="gl"><i class="flag-icon-gl flag-icon flag-icon-squared rounder"></i> Greenland</li>
                  <li class="item" data-value="gm"><i class="flag-icon-gm flag-icon flag-icon-squared rounder"></i> Gambia</li>
                  <li class="item" data-value="gn"><i class="flag-icon-gn flag-icon flag-icon-squared rounder"></i> Guinea</li>
                  <li class="item" data-value="gp"><i class="flag-icon-gp flag-icon flag-icon-squared rounder"></i> Guadeloupe</li>
                  <li class="item" data-value="gq"><i class="flag-icon-gq flag-icon flag-icon-squared rounder"></i> Equatorial Guinea</li>
                  <li class="item" data-value="gr"><i class="flag-icon-gr flag-icon flag-icon-squared rounder"></i> Greece</li>
                  <li class="item" data-value="gs"><i class="flag-icon-gs flag-icon flag-icon-squared rounder"></i> Sandwich Islands</li>
                  <li class="item" data-value="gt"><i class="flag-icon-gt flag-icon flag-icon-squared rounder"></i> Guatemala</li>
                  <li class="item" data-value="gu"><i class="flag-icon-gu flag-icon flag-icon-squared rounder"></i> Guam</li>
                  <li class="item" data-value="gw"><i class="flag-icon-gw flag-icon flag-icon-squared rounder"></i> Guinea-Bissau</li>
                  <li class="item" data-value="gy"><i class="flag-icon-gy flag-icon flag-icon-squared rounder"></i> Guyana</li>
                  <li class="item" data-value="hk"><i class="flag-icon-hk flag-icon flag-icon-squared rounder"></i> Hong Kong</li>
                  <li class="item" data-value="hm"><i class="flag-icon-hm flag-icon flag-icon-squared rounder"></i> Heard Island</li>
                  <li class="item" data-value="hn"><i class="flag-icon-hn flag-icon flag-icon-squared rounder"></i> Honduras</li>
                  <li class="item" data-value="hr"><i class="flag-icon-hr flag-icon flag-icon-squared rounder"></i> Croatia</li>
                  <li class="item" data-value="ht"><i class="flag-icon-ht flag-icon flag-icon-squared rounder"></i> Haiti</li>
                  <li class="item" data-value="hu"><i class="flag-icon-hu flag-icon flag-icon-squared rounder"></i> Hungary</li>
                  <li class="item" data-value="id"><i class="flag-icon-id flag-icon flag-icon-squared rounder"></i> Indonesia</li>
                  <li class="item" data-value="ie"><i class="flag-icon-ie flag-icon flag-icon-squared rounder"></i> Ireland</li>
                  <li class="item" data-value="il"><i class="flag-icon-il flag-icon flag-icon-squared rounder"></i> Israel</li>
                  <li class="item" data-value="in"><i class="flag-icon-in flag-icon flag-icon-squared rounder"></i> India</li>
                  <li class="item" data-value="io"><i class="flag-icon-io flag-icon flag-icon-squared rounder"></i> Indian Ocean Territory</li>
                  <li class="item" data-value="iq"><i class="flag-icon-iq flag-icon flag-icon-squared rounder"></i> Iraq</li>
                  <li class="item" data-value="ir"><i class="flag-icon-ir flag-icon flag-icon-squared rounder"></i> Iran</li>
                  <li class="item" data-value="is"><i class="flag-icon-is flag-icon flag-icon-squared rounder"></i> Iceland</li>
                  <li class="item" data-value="it"><i class="flag-icon-it flag-icon flag-icon-squared rounder"></i> Italy</li>
                  <li class="item" data-value="jm"><i class="flag-icon-jm flag-icon flag-icon-squared rounder"></i> Jamaica</li>
                  <li class="item" data-value="jo"><i class="flag-icon-jo flag-icon flag-icon-squared rounder"></i> Jordan</li>
                  <li class="item" data-value="jp"><i class="flag-icon-jp flag-icon flag-icon-squared rounder"></i> Japan</li>
                  <li class="item" data-value="ke"><i class="flag-icon-ke flag-icon flag-icon-squared rounder"></i> Kenya</li>
                  <li class="item" data-value="kg"><i class="flag-icon-kg flag-icon flag-icon-squared rounder"></i> Kyrgyzstan</li>
                  <li class="item" data-value="kh"><i class="flag-icon-kh flag-icon flag-icon-squared rounder"></i> Cambodia</li>
                  <li class="item" data-value="ki"><i class="flag-icon-ki flag-icon flag-icon-squared rounder"></i> Kiribati</li>
                  <li class="item" data-value="km"><i class="flag-icon-km flag-icon flag-icon-squared rounder"></i> Comoros</li>
                  <li class="item" data-value="kn"><i class="flag-icon-kn flag-icon flag-icon-squared rounder"></i> Saint Kitts and Nevis</li>
                  <li class="item" data-value="kp"><i class="flag-icon-kp flag-icon flag-icon-squared rounder"></i> North Korea</li>
                  <li class="item" data-value="kr"><i class="flag-icon-kr flag-icon flag-icon-squared rounder"></i> South Korea</li>
                  <li class="item" data-value="kw"><i class="flag-icon-kw flag-icon flag-icon-squared rounder"></i> Kuwait</li>
                  <li class="item" data-value="ky"><i class="flag-icon-ky flag-icon flag-icon-squared rounder"></i> Cayman Islands</li>
                  <li class="item" data-value="kz"><i class="flag-icon-kz flag-icon flag-icon-squared rounder"></i> Kazakhstan</li>
                  <li class="item" data-value="la"><i class="flag-icon-la flag-icon flag-icon-squared rounder"></i> Laos</li>
                  <li class="item" data-value="lb"><i class="flag-icon-lb flag-icon flag-icon-squared rounder"></i> Lebanon</li>
                  <li class="item" data-value="lc"><i class="flag-icon-lc flag-icon flag-icon-squared rounder"></i> Saint Lucia</li>
                  <li class="item" data-value="li"><i class="flag-icon-li flag-icon flag-icon-squared rounder"></i> Liechtenstein</li>
                  <li class="item" data-value="lk"><i class="flag-icon-lk flag-icon flag-icon-squared rounder"></i> Sri Lanka</li>
                  <li class="item" data-value="lr"><i class="flag-icon-lr flag-icon flag-icon-squared rounder"></i> Liberia</li>
                  <li class="item" data-value="ls"><i class="flag-icon-ls flag-icon flag-icon-squared rounder"></i> Lesotho</li>
                  <li class="item" data-value="lt"><i class="flag-icon-lt flag-icon flag-icon-squared rounder"></i> Lithuania</li>
                  <li class="item" data-value="lu"><i class="flag-icon-lu flag-icon flag-icon-squared rounder"></i> Luxembourg</li>
                  <li class="item" data-value="lv"><i class="flag-icon-lv flag-icon flag-icon-squared rounder"></i> Latvia</li>
                  <li class="item" data-value="ly"><i class="flag-icon-ly flag-icon flag-icon-squared rounder"></i> Libya</li>
                  <li class="item" data-value="ma"><i class="flag-icon-ma flag-icon flag-icon-squared rounder"></i> Morocco</li>
                  <li class="item" data-value="mc"><i class="flag-icon-mc flag-icon flag-icon-squared rounder"></i> Monaco</li>
                  <li class="item" data-value="md"><i class="flag-icon-md flag-icon flag-icon-squared rounder"></i> Moldova</li>
                  <li class="item" data-value="me"><i class="flag-icon-me flag-icon flag-icon-squared rounder"></i> Montenegro</li>
                  <li class="item" data-value="mg"><i class="flag-icon-mg flag-icon flag-icon-squared rounder"></i> Madagascar</li>
                  <li class="item" data-value="mh"><i class="flag-icon-mh flag-icon flag-icon-squared rounder"></i> Marshall Islands</li>
                  <li class="item" data-value="mk"><i class="flag-icon-mk flag-icon flag-icon-squared rounder"></i> MacEdonia</li>
                  <li class="item" data-value="ml"><i class="flag-icon-ml flag-icon flag-icon-squared rounder"></i> Mali</li>
                  <li class="item" data-value="ar"><i class="flag-icon-ar flag-icon flag-icon-squared rounder"></i> Burma</li>
                  <li class="item" data-value="mn"><i class="flag-icon-mn flag-icon flag-icon-squared rounder"></i> Mongolia</li>
                  <li class="item" data-value="mo"><i class="flag-icon-mo flag-icon flag-icon-squared rounder"></i> MacAu</li>
                  <li class="item" data-value="mp"><i class="flag-icon-mp flag-icon flag-icon-squared rounder"></i> Northern Mariana Islands</li>
                  <li class="item" data-value="mq"><i class="flag-icon-mq flag-icon flag-icon-squared rounder"></i> Martinique</li>
                  <li class="item" data-value="mr"><i class="flag-icon-mr flag-icon flag-icon-squared rounder"></i> Mauritania</li>
                  <li class="item" data-value="ms"><i class="flag-icon-ms flag-icon flag-icon-squared rounder"></i> Montserrat</li>
                  <li class="item" data-value="mt"><i class="flag-icon-mt flag-icon flag-icon-squared rounder"></i> Malta</li>
                  <li class="item" data-value="mu"><i class="flag-icon-mu flag-icon flag-icon-squared rounder"></i> Mauritius</li>
                  <li class="item" data-value="mv"><i class="flag-icon-mv flag-icon flag-icon-squared rounder"></i> Mallies</li>
                  <li class="item" data-value="mw"><i class="flag-icon-mw flag-icon flag-icon-squared rounder"></i> Malawi</li>
                  <li class="item" data-value="mx"><i class="flag-icon-mx flag-icon flag-icon-squared rounder"></i> Mexico</li>
                  <li class="item" data-value="my"><i class="flag-icon-my flag-icon flag-icon-squared rounder"></i> Malaysia</li>
                  <li class="item" data-value="mz"><i class="flag-icon-mz flag-icon flag-icon-squared rounder"></i> Mozambique</li>
                  <li class="item" data-value="na"><i class="flag-icon-na flag-icon flag-icon-squared rounder"></i> Namibia</li>
                  <li class="item" data-value="nc"><i class="flag-icon-nc flag-icon flag-icon-squared rounder"></i> New Caledonia</li>
                  <li class="item" data-value="ne"><i class="flag-icon-ne flag-icon flag-icon-squared rounder"></i> Niger</li>
                  <li class="item" data-value="nf"><i class="flag-icon-nf flag-icon flag-icon-squared rounder"></i> Norfolk Island</li>
                  <li class="item" data-value="ng"><i class="flag-icon-ng flag-icon flag-icon-squared rounder"></i> Nigeria</li>
                  <li class="item" data-value="ni"><i class="flag-icon-ni flag-icon flag-icon-squared rounder"></i> Nicaragua</li>
                  <li class="item" data-value="nl"><i class="flag-icon-nl flag-icon flag-icon-squared rounder"></i> Netherlands</li>
                  <li class="item" data-value="no"><i class="flag-icon-no flag-icon flag-icon-squared rounder"></i> Norway</li>
                  <li class="item" data-value="np"><i class="flag-icon-np flag-icon flag-icon-squared rounder"></i> Nepal</li>
                  <li class="item" data-value="nr"><i class="flag-icon-nr flag-icon flag-icon-squared rounder"></i> Nauru</li>
                  <li class="item" data-value="nu"><i class="flag-icon-nu flag-icon flag-icon-squared rounder"></i> Niue</li>
                  <li class="item" data-value="nz"><i class="flag-icon-nz flag-icon flag-icon-squared rounder"></i> New Zealand</li>
                  <li class="item" data-value="om"><i class="flag-icon-om flag-icon flag-icon-squared rounder"></i> Oman</li>
                  <li class="item" data-value="pa"><i class="flag-icon-pa flag-icon flag-icon-squared rounder"></i> Panama</li>
                  <li class="item" data-value="pe"><i class="flag-icon-pe flag-icon flag-icon-squared rounder"></i> Peru</li>
                  <li class="item" data-value="pf"><i class="flag-icon-pf flag-icon flag-icon-squared rounder"></i> French Polynesia</li>
                  <li class="item" data-value="pg"><i class="flag-icon-pg flag-icon flag-icon-squared rounder"></i> New Guinea</li>
                  <li class="item" data-value="ph"><i class="flag-icon-ph flag-icon flag-icon-squared rounder"></i> Philippines</li>
                  <li class="item" data-value="pk"><i class="flag-icon-pk flag-icon flag-icon-squared rounder"></i> Pakistan</li>
                  <li class="item" data-value="pl"><i class="flag-icon-pl flag-icon flag-icon-squared rounder"></i> Poland</li>
                  <li class="item" data-value="pm"><i class="flag-icon-pm flag-icon flag-icon-squared rounder"></i> Saint Pierre</li>
                  <li class="item" data-value="pn"><i class="flag-icon-pn flag-icon flag-icon-squared rounder"></i> Pitcairn Islands</li>
                  <li class="item" data-value="pr"><i class="flag-icon-pr flag-icon flag-icon-squared rounder"></i> Puerto Rico</li>
                  <li class="item" data-value="ps"><i class="flag-icon-ps flag-icon flag-icon-squared rounder"></i> Palestine</li>
                  <li class="item" data-value="pt"><i class="flag-icon-pt flag-icon flag-icon-squared rounder"></i> Portugal</li>
                  <li class="item" data-value="pw"><i class="flag-icon-pw flag-icon flag-icon-squared rounder"></i> Palau</li>
                  <li class="item" data-value="py"><i class="flag-icon-py flag-icon flag-icon-squared rounder"></i> Paraguay</li>
                  <li class="item" data-value="qa"><i class="flag-icon-qa flag-icon flag-icon-squared rounder"></i> Qatar</li>
                  <li class="item" data-value="re"><i class="flag-icon-re flag-icon flag-icon-squared rounder"></i> Reunion</li>
                  <li class="item" data-value="ro"><i class="flag-icon-ro flag-icon flag-icon-squared rounder"></i> Romania</li>
                  <li class="item" data-value="rs"><i class="flag-icon-rs flag-icon flag-icon-squared rounder"></i> Serbia</li>
                  <li class="item" data-value="ru"><i class="flag-icon-ru flag-icon flag-icon-squared rounder"></i> Russia</li>
                  <li class="item" data-value="rw"><i class="flag-icon-rw flag-icon flag-icon-squared rounder"></i> Rwanda</li>
                  <li class="item" data-value="sa"><i class="flag-icon-sa flag-icon flag-icon-squared rounder"></i> Saudi Arabia</li>
                  <li class="item" data-value="sb"><i class="flag-icon-sb flag-icon flag-icon-squared rounder"></i> Solomon Islands</li>
                  <li class="item" data-value="sc"><i class="flag-icon-sc flag-icon flag-icon-squared rounder"></i> Seychelles</li>
                  <li class="item" data-value="sd"><i class="flag-icon-sd flag-icon flag-icon-squared rounder"></i> Sudan</li>
                  <li class="item" data-value="se"><i class="flag-icon-se flag-icon flag-icon-squared rounder"></i> Sweden</li>
                  <li class="item" data-value="sg"><i class="flag-icon-sg flag-icon flag-icon-squared rounder"></i> Singapore</li>
                  <li class="item" data-value="sh"><i class="flag-icon-sh flag-icon flag-icon-squared rounder"></i> Saint Helena</li>
                  <li class="item" data-value="si"><i class="flag-icon-si flag-icon flag-icon-squared rounder"></i> Slovenia</li>
                  <li class="item" data-value="sj"><i class="flag-icon-sj flag-icon flag-icon-squared rounder"></i> Svalbard, I flag Jan Mayen</li>
                  <li class="item" data-value="sk"><i class="flag-icon-sk flag-icon flag-icon-squared rounder"></i> Slovakia</li>
                  <li class="item" data-value="sl"><i class="flag-icon-sl flag-icon flag-icon-squared rounder"></i> Sierra Leone</li>
                  <li class="item" data-value="sm"><i class="flag-icon-sm flag-icon flag-icon-squared rounder"></i> San Marino</li>
                  <li class="item" data-value="sn"><i class="flag-icon-sn flag-icon flag-icon-squared rounder"></i> Senegal</li>
                  <li class="item" data-value="so"><i class="flag-icon-so flag-icon flag-icon-squared rounder"></i> Somalia</li>
                  <li class="item" data-value="sr"><i class="flag-icon-sr flag-icon flag-icon-squared rounder"></i> Suriname</li>
                  <li class="item" data-value="st"><i class="flag-icon-st flag-icon flag-icon-squared rounder"></i> Sao Tome</li>
                  <li class="item" data-value="sv"><i class="flag-icon-sv flag-icon flag-icon-squared rounder"></i> El Salvador</li>
                  <li class="item" data-value="sy"><i class="flag-icon-sy flag-icon flag-icon-squared rounder"></i> Syria</li>
                  <li class="item" data-value="sz"><i class="flag-icon-sz flag-icon flag-icon-squared rounder"></i> Swaziland</li>
                  <li class="item" data-value="tc"><i class="flag-icon-tc flag-icon flag-icon-squared rounder"></i> Caicos Islands</li>
                  <li class="item" data-value="td"><i class="flag-icon-td flag-icon flag-icon-squared rounder"></i> Chad</li>
                  <li class="item" data-value="tf"><i class="flag-icon-tf flag-icon flag-icon-squared rounder"></i> French Territories</li>
                  <li class="item" data-value="tg"><i class="flag-icon-tg flag-icon flag-icon-squared rounder"></i> Togo</li>
                  <li class="item" data-value="th"><i class="flag-icon-th flag-icon flag-icon-squared rounder"></i> Thailand</li>
                  <li class="item" data-value="tj"><i class="flag-icon-tj flag-icon flag-icon-squared rounder"></i> Tajikistan</li>
                  <li class="item" data-value="tk"><i class="flag-icon-tk flag-icon flag-icon-squared rounder"></i> Tokelau</li>
                  <li class="item" data-value="tl"><i class="flag-icon-tl flag-icon flag-icon-squared rounder"></i> Timorleste</li>
                  <li class="item" data-value="tm"><i class="flag-icon-tm flag-icon flag-icon-squared rounder"></i> Turkmenistan</li>
                  <li class="item" data-value="tn"><i class="flag-icon-tn flag-icon flag-icon-squared rounder"></i> Tunisia</li>
                  <li class="item" data-value="to"><i class="flag-icon-to flag-icon flag-icon-squared rounder"></i> Tonga</li>
                  <li class="item" data-value="tr"><i class="flag-icon-tr flag-icon flag-icon-squared rounder"></i> Turkey</li>
                  <li class="item" data-value="tt"><i class="flag-icon-tt flag-icon flag-icon-squared rounder"></i> Trinidad</li>
                  <li class="item" data-value="tv"><i class="flag-icon-tv flag-icon flag-icon-squared rounder"></i> Tuvalu</li>
                  <li class="item" data-value="tw"><i class="flag-icon-tw flag-icon flag-icon-squared rounder"></i> Taiwan</li>
                  <li class="item" data-value="tz"><i class="flag-icon-tz flag-icon flag-icon-squared rounder"></i> Tanzania</li>
                  <li class="item" data-value="ua"><i class="flag-icon-ua flag-icon flag-icon-squared rounder"></i> Ukraine</li>
                  <li class="item" data-value="ug"><i class="flag-icon-ug flag-icon flag-icon-squared rounder"></i> Uganda</li>
                  <li class="item" data-value="um"><i class="flag-icon-um flag-icon flag-icon-squared rounder"></i> Us Minor Islands</li>
                  <li class="item" data-value="us"><i class="flag-icon-us flag-icon flag-icon-squared rounder"></i> United States</li>
                  <li class="item" data-value="uy"><i class="flag-icon-uy flag-icon flag-icon-squared rounder"></i> Uruguay</li>
                  <li class="item" data-value="uz"><i class="flag-icon-uz flag-icon flag-icon-squared rounder"></i> Uzbekistan</li>
                  <li class="item" data-value="va"><i class="flag-icon-va flag-icon flag-icon-squared rounder"></i> Vatican City</li>
                  <li class="item" data-value="vc"><i class="flag-icon-vc flag-icon flag-icon-squared rounder"></i> Saint Vincent</li>
                  <li class="item" data-value="ve"><i class="flag-icon-ve flag-icon flag-icon-squared rounder"></i> Venezuela</li>
                  <li class="item" data-value="vg"><i class="flag-icon-vg flag-icon flag-icon-squared rounder"></i> British Virgin Islands</li>
                  <li class="item" data-value="vi"><i class="flag-icon-vi flag-icon flag-icon-squared rounder"></i> Us Virgin Islands</li>
                  <li class="item" data-value="vn"><i class="flag-icon-vn flag-icon flag-icon-squared rounder"></i> Vietnam</li>
                  <li class="item" data-value="vu"><i class="flag-icon-vu flag-icon flag-icon-squared rounder"></i> Vanuatu</li>
                  <li class="item" data-value="wf"><i class="flag-icon-wf flag-icon flag-icon-squared rounder"></i> Wallis and Futuna</li>
                  <li class="item" data-value="ws"><i class="flag-icon-ws flag-icon flag-icon-squared rounder"></i> Samoa</li>
                  <li class="item" data-value="ye"><i class="flag-icon-ye flag-icon flag-icon-squared rounder"></i> Yemen</li>
                  <li class="item" data-value="yt"><i class="flag-icon-yt flag-icon flag-icon-squared rounder"></i> Mayotte</li>
                  <li class="item" data-value="za"><i class="flag-icon-za flag-icon flag-icon-squared rounder"></i> South Africa</li>
                  <li class="item" data-value="zm"><i class="flag-icon-zm flag-icon flag-icon-squared rounder"></i> Zambia</li>
                  <li class="item" data-value="zw"><i class="flag-icon-zw flag-icon flag-icon-squared rounder"></i> Zimbabwe</li>
              </ul>
            </div>
          </div>
        </div>
        <div class='form-group'>
          <div class="alert alert-success lang new" style="display:none">
            <strong><i class="hand up huge icon no-margin"></i> Success :)</strong> Your Operation was Successfully 
          </div>
          <div class='col-sm-offset-2 col-sm-10'>
            <button id="save_lang" type='button' class='language btn btn-primary' ng-click="save_lang(lang)">Save Content</button>
            <button type='button' class='language btn btn-default closing'>Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>