<h3>Settings</h3>
<p>Change the settings of your website </p>
<br>
<div class="alert alert-success settings" style="display:none">
	<strong><i class="hand up huge icon no-margin"></i> Success :)</strong> Your Operation was Successfully 
</div>
<div class="row">
	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked naving">
	      <li role="presentation"  ng-class="{active:show_account}"><a href="javascript:;;" ng-click="show_panel('account')">My User</a></li>
	      <li role="presentation" ng-class="{active:show_website}"><a href="javascript:;;" ng-click="show_panel('website')">Website</a></li>
	    </ul>
	</div>
	<div class="col-md-6" style="margin-left:20px">
		<div id="config_account" ng-show="show_account">
			<form id='save_user' class='form-horizontal' role='form' enctype="multipart/form-data" autocomplete="off">
			  <div class='form-group'>
			    <label for='header' class='col-sm-2 control-label'>Change Password</label>
			    <div class='col-sm-9'>
			    	 <input type='password' class='form-control form-values' id='password' placeholder='Leave blank if do not want update the password' ng-model="user.new_password" autocomplete="off" required>
			    </div>
			  </div>
			  <div class='form-group'>
			    <div class='col-sm-offset-2 col-sm-10'>
			      <button id="btn_save_user" type='button' ng-click="save_user(user)" class='btn btn-primary'>Update</button><!-- 
			       <button id='reset' type='reset' class='btn btn-default' style='margin-left:20px'>Reset</button> -->
			    </div>
			  </div>
			</form>
		</div>
		<div id="config_website" ng-show="show_website">
			<form id='save_web' class='form-horizontal' role='form' enctype="multipart/form-data" autocomplete="off">
			  <div class='form-group'>
			    <label for='header' class='col-sm-2 control-label'>Title</label>
			    <div class='col-sm-9'>
			    	 <input type='text' class='form-control form-values' id='password' placeholder='insert title' ng-model="web.title" autocomplete="off" required>
			    </div>
			  </div>
			  <div class='form-group'>
			    <label for='header' class='col-sm-2 control-label'>Description</label>
			    <div class='col-sm-9'>
			    	<textarea placeholder='insert description' style="height:200px" class='form-control form-values' ng-model="web.description"></textarea>
			    </div>
			  </div>
			  <div class='form-group'>
			    <label for='background' class='col-sm-2 control-label'>Logo</label>
			    <div class='col-sm-9'>		    	    		
		    		<div class="new-uploading" style="">
		    			<div id="fileinput_media" class="fileinput fileinput-new" data-name="logo" image-upload image-model="web" image-attribute="logo">
						  <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;display:block !important">
						    <img id="logo_file" ng-src="{{web.logo}}" alt="Select New Logo">
						  </div>
						 
						  <div>
						    <span class="btn btn-default btn-file">
						    	<span class="fileinput-new">Upload image</span>
						    	<span class="fileinput-exists">Change</span>
							    <input id="input" type="file" name="logo" ng-model="web.logo" >
							</span>
						    <a href="javascript:;;"  class="btn btn-default" ng-click="remove_image(web)" ng-show="web.logo?true:false">Remove</a>
						  </div>
						</div>
		    		</div>		    	
			    </div>
			  </div>
			  <div class='form-group'>
			    <div class='col-sm-offset-2 col-sm-10'>
			      <button id="btn_save_web" type='button' ng-click="save_web(web)" class='btn btn-primary'>Update</button>
			    </div>
			  </div>
			</form>
		</div>
		

	</div>
</div>
