[element-object]:hover{
	/*border:1px solid rgba(0,0,0,0.4);*/
	position: relative;
	border-radius: 5px;	
	/*border: 1px dashed rgba(0, 0, 0, 0.2);*/
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
	/*margin-left: -1px !important;*/
	/*margin-right: -1px !important;*/
}
.editable-mode{
	position: relative;
	border-radius: 5px;	
	/*border: 1px dashed rgba(0, 0, 0, 0.2);*/
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
}
/*[data-object]:hover:before{
	font-family: "Glyphicons Halflings";
	content: "\270f";
	left:85%;
	top:5%;
	color:#2AA244;
	position:absolute;
	font-size: 24px;
}*/

/*[data-object] + span{
	display:none;
}

[data-object]:hover + span{
	display:block;
}

[data-object] + span:hover{
	display:block;
}*/
.plus-gray span{
	font-size: 70px;
	line-height: 70px;
	padding: 0px;
	font-weight: 100;
	color: gray;
	display: block;

}
.plus-gray label{
	font-size: 10px;
	color: gray;
	margin-bottom: 10px;
	display: block;
}
.inline-add{
	margin-top: 50px;
	margin-bottom: 20px;
	/*padding: 10px;*/
	width: 100%;
	border-radius: 20px;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
	/*border: 1px dashed rgba(0, 0, 0, 0.2);*/
	background-color: rgba(0, 0, 0, 0.04);
	text-align: center !important;
	position: relative;
	/*z-index: 20000;*/
	z-index: 500;
	text-decoration: none !important;
	display: block;
}
.inline-add a{
	text-decoration: none !important;	
	background-color: transparent !important;
}
#inline-editors{
	position:absolute;
	z-index: 1000;
	right:0;
	margin-right: 5px;
	top:0;
	margin-top: 5px;


}
#inline-editors span{
	font-size: 20px;	
	width:70px;
	text-align: center;
	color:rgba(255,255,255,0.9);
	cursor: pointer;

}


#inline-editors span:last-child{
	display:inline-block;
	padding:5px;
	font-weight: 100;
	/*color:#fff !important;*/
	background-color: #D9534F;
	border-radius: 0px 5px 5px 0px;
}
#inline-editors span:first-child{
	display:inline-block;
	padding:5px;
	font-weight: 100;
	background-color: #047BB3;
	border-radius: 5px 0px 0px 5px;
	
}
#inline-editors span:only-child {
    border-radius: 5px 5px 5px 5px;
}
/*#inline-editors span:last-child{
	display:inline-block;
	padding:5px;
	font-weight: 400;
	background-color: #479459;
	border-radius: 0px 5px 5px 0px;
}*/
.editable-mode #inline-editors{
	display:none;
}
#inline-saver{
	left:0;
	position:absolute;
	z-index: 990;
	font-size: 16px !important;
}
#inline-saver span{
	font-size: 16px;	
	width:70px;
	text-align: center;
	cursor: pointer;
	border:1px solid;


}

#inline-saver span:first-child{
	display:inline-block;
	padding:5px;
	font-weight: 100;
	color: #373A3C;
	background-color: #FFF;
	border-color: #CCC;
	border-radius: 0px 0px 0px 5px;
	
}
#inline-saver span:last-child{
	display:inline-block;
	padding:5px;
	font-weight: 400;
	color: #FFF;
	background-color: #D9534F;
	border-color: #D9534F;
	border-radius: 0px 0px 5px 0px;
}
.inline-saving.success{
	color:#fff;
	border-color: #479459 !important; 
	background-color: #479459 !important;
}


/* Some basic styling to notify users
   about the tooltips*/
.tooling {
  color: #900;
  text-decoration: none;
}
 
 
.tooling:after{
  display: block;
  visibility: hidden;
  position: absolute;
  bottom: 110%;
  font-size: 14px;
  font-weight: 100 !important;
  /*left: -70px;*/
  opacity: 0;
  content: attr(data-tool); /* might also use attr(title) */
  /*height: auto;*/
  white-space: nowrap;
  padding: 5px 8px;
  z-index: 1111;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background: rgba(0,0,0,0.85);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.tooling-top:before {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  /*left: 20%;*/
  bottom: 100%;
  opacity: 0;
  content: "";
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: rgba(0,0,0,0.8) transparent transparent transparent;
}
.tooling:hover:after{ visibility: visible; opacity: 1; }
.tooling-top:hover:before{ visibility: visible; opacity: 1; }

.tooling:after,.tooling:before {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/*end*/

.ui.loading.btn {
    position: relative;
    cursor: default;
    background-color: #FFF!important;
    color: transparent!important;
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    transition: all 0s linear;
}
.ui.loading.btn:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: url(../images/loader-mini.gif) 50% 50% no-repeat;
}
.ui.success.btn{
  background-color: #479459!important;
  color:#fff !important;
  border-color: #479459!important;
}
