/*@import url(http://fonts.googleapis.com/css?family=Raleway);*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);*/

html {
    font-family:'Open Sans', sans-serif !important;
    font-size: 13px;
    line-height: 1.9;
    /*color: #333;*/
    color:#777;
    width:100%;
    overflow-x:hidden;

}

[data-object] + span{
	display:none;
}

.arial{
	font-family: Arial,sans-serif !important;
}

body {
    background: none repeat scroll 0% 0% white;
    margin: 0px;
    padding: 0px;
    text-rendering: optimizelegibility;
    /*min-width: 320px;*/

}

h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 20px;
    font-weight: 450;
    letter-spacing: -1px;
    color: #222;
}
h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

h1 small,
.h1 small {
  font-size: 24px;
}

h2 small,
.h2 small {
  font-size: 18px;
}

h3 small,
.h3 small,
h4 small,
.h4 small {
  font-size: 14px;
}
a:hover, a:active, a:focus {
	outline:0px !important;
}
.block{
	display: inline-block;
}
.link-portafolio{
	font-size: 14px;
	color:#3A87AD;
}
i.huge.icon {
    font-size: 4rem !important;
    vertical-align: middle;
}
.pointer{
	cursor:pointer;

}
.pointer.active{

}
.minimal{
	/*display:block;*/
	visibility: visible;
	height: auto;
}
.external{
	display: none;
}
.mode-external .minimal{
	transition: visibility 0s 1s, opacity 1s linear;
	opacity: 0;
	visibility: hidden;
	height:0;
	/*min-height: 0 !important;*/
	overflow:hidden;
}
.div-table{
	display:table;
	margin-bottom: 20px;
}
.table-cell{
	/*display:table-cell;*/
	/*float:none;*/
	/*vertical-align: top;*/
	overflow:hidden;
	max-height: 150px;
}

.div-table:hover .table-cell img{
	transform: scale(2,2);
	transition-timing-function: ease-out;
	transition-duration: 2000ms;

}

.table-cell img{
	transition-timing-function: ease-out;
	transition-duration: 1000ms;
	width:100%;
	border:7px solid rgba(255,255,255,0.4)
}
/*.mode-external .external{
	display:block !important;
}*/


#principal{
	/*min-height:500px;
	background-image: -webkit-linear-gradient(rgba(0, 4, 18, 0.38), rgba(168, 9, 186, 0.0)), url('../img/portada_new.jpg');
  background-image: -o-linear-gradient(rgba(0, 4, 18, 0.38), rgba(168, 9, 186, 0.0)), url('../img/portada_new.jpg');
  background-image: linear-gradient(rgba(0, 4, 18, 0.38), rgba(168, 9, 186, 0.0)), url('../img/portada_new.jpg');
  background-attachment: scroll, fixed;
	background-position: center ;
	background-size: cover;*/
	/*padding-top:200px;*/
}
#principal_background{
	padding-top: 15%;
}
#subcribe-ground{

}
/*Navegador fixed*/
#navegador{
	/*position: absolute;*/
	/*width: 100%;*/
	/*left: 0px;*/
	/*top: 0px !important;*/
	width: 100%;
	z-index: 100;
}
#navegador.affix { 
	position: fixed; 
	top: 0px; 
	width: 100%;
	/*background-color: rgba(255,255,255,0.8) !important;*/
	animation:animaNav 0.4s;
	 -webkit-animation:animaNav 0.4s;
	 -ms-animation:animaNav 0.4s;
	 -moz-animation:animaNav 0.4s; 
	 z-index: 10000;
	 border-bottom: 1px solid #047BB3;
}

#navegador.affix .ui.menu-header {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
}

@-webkit-keyframes animaNav{

 0%{
        -webkit-opacity:0;
       }

 40%{
         -webkit-opacity:0.5;
         }

 100%{
         -webkit-opacity:1;
          }
}


@-moz-keyframes animaNav{

 0%{
  -moz-opacity:0;
 }

 40%{
  -moz-opacity:0.5;
 }

 100%{
  -moz-opacity:1;
 }

}


@-ms-keyframes animaNav{

 0%{
  -ms-opacity:0;
 }

 40%{
  -ms-opacity:0.5;
 }

 100%{
  -ms-opacity:1;
 }
}


@keyframes animaNav{

 0%{
  opacity:0;
 }

 40%{
  opacity:0.5;

 }

 100%{
  opacity:1;
 }
}


@-o-keyframes animaNav{

 0%{
  -o-opacity:0;
 }

 40%{
  -o-opacity:0.5;
 }

 100%{
  -o-opacity:1;
 }
}
/*end navigation*/

a{
	color: #333;
	text-decoration: none;
}
.logo{
	/*height: 80px;
	padding-bottom: 10px;*/
	/*font-size: 2.8rem;*/

}
.logo{
	padding-top: 30px;
	font-weight: 300;
	font-family: 'Great Vibes' !important;
	font-size: 60px;
	color:#047BB3;
}
.logo small{
	font-family: 'Lato' !important;
	font-size: 20px;
	color: #777;
}
img.img-icon{
	margin-left: 30%;
}
.ipad-ground{
	background-image: url('../img/ipad.png');
	height:300px;
  	background-position: 0% 0%, 50% 50%;
	/*background-position: center ;*/
	background-size: cover;
	background-repeat:no-repeat;
	padding-top:20px;
	padding-left: 20px !important;
	padding-right:30px !important;
	overflow:hidden;

}
.ipad-ground img{
	border-radius: 10px 10px 0px 0px;
}
.text-white{
	color:white !important;
	font-weight: 100 !important;
}
.text-center{
	text-align: center !important;
}
.text-green{
	color:#3F6B14 !important;
}
.text-orange{
	color: #A34824 !important;
}
.font-weight{
	font-weight: 600 !important;
}
.line{
	/*background: #0361A0;*/
	/*height: 30px;*/
	margin: -8px;
	margin-bottom: 0px;
	
}
/*.external-icon{
    display: inline-block;
    vertical-align: middle;
    background: url('https://cdn.bigcommerce.com/www/cdn/farfuture/FvC70JLnWhZhDKHX4GsMKDMShjHSANEq6P4BhVTwVI0/mtime:1415283529/sites/all/themes/bc_theme/css/img/sprite.png') repeat scroll 0% 0% transparent;
    background-repeat: no-repeat;
}

.store-showcase.background-tabbed-nav-separator {
    display: block;
    background-position: 0px -56px;
    width: 1160px;
    height: 67px;
}
.store-showcase {
    background: url('https://cdn.bigcommerce.com/www/cdn/farfuture/su1UlzdFPuRiiNsqw1GXiJNK9wxzFnaDK7uVwjm1rT0/mtime:1400107687/sites/default/files/custom_pages/images/sprite-store-showcase_1.png') no-repeat scroll 0px 0px transparent;
}*/
.icon-top-bar-lc {
    width: 32px;
    height: 22px;
    background-position: 0px -500px;
    background-color: #FFF;
}
.icon-top-bar-rc {
    width: 32px;
    height: 22px;
    background-position: -40px -500px;
    background-color: #FFF;
}
.no-margin{
	margin:0 !important;
}
.no-padding{
	padding:0 !important;
}
.top-menu-right{
	margin-top: 10px;
	position: absolute;
	/*width: 100%;*/
	left: 71%;
	top: 25px;
	z-index: 1000;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.padding{
	padding-bottom: 5px !important;
	/*padding-top: 25px !important;*/
}
.line .ui.horizontal.list > .item {
    font-size: 11px;
}
.text-yellow{
	color:#FF8E22 !important;
}
.text-blue{
	color:#047BB3;
}
.text-gray{
	color:#222 !important;
}
.text-light{
	color:#777 !important;
}
* {
    box-sizing: border-box;
}
.row{
	display: inline-block;
}
/*.line .ui.horizontal.list > .item {
    font-size: 12px;
}*/
.ui.secondary.menu > .header-options > .item{	
	font-size: 17px;
	/*color: #A0A0A0;*/
	/*margin-top: 15px;*/
	padding-top: 15px;
	/*color:#9C9C9C;*/
	font-weight: 400;
	height: 50px !important;
	letter-spacing: -1px;
}
.ui.secondary.menu > .header-options > .item.active{

	
	background-color:transparent !important;
	border-bottom: 3px solid #047BB3;
	border-radius: 0px;
	/*border-radius: 5px 5px 0px 0px;	*/
}
.ui.secondary.menu > .header-options > .item:hover{

	background-color:transparent !important;

	/*box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);*/
	border-bottom: 3px solid #047BB3;
	border-radius: 0px;

}
.ui.menu {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.ui.secondary.pointing.menu {
    border-bottom: 0px solid rgba(0, 0, 0, 0.1);
}
.ui.secondary.pointing.menu > .header-options > .item.active,.item:hover{	
	
	color: #333;
}
.ui.raised.segment {
    min-height: 200px !important;
}
.ui.items .item > .content > .name {
    font-size: 1.3em;
}
.ui.dropdown .menu .item {
	font-size: 1.1rem;
}

.ui.menu-header{
	/*background-color: #EFEFE9;*/
	/*border-bottom: 3px solid #DDD;*/
	background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.8);
	padding-top: 30px !important;
	height:100px;
	position: relative;
	width: 100%;
	z-index: 100;
}
.ui.link.menu .item:hover, .ui.menu .link.item:hover, .ui.menu a.item:hover, .ui.menu .ui.dropdown .menu .item:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}
.boxed{
	overflow: hidden;
	/*margin: 20px;*/
	padding:10px !important;
	border-radius: 4px;
	border: 1px solid #E1E0DB;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
	/*background-color: #F5F5F5;*/
}
.button-orange{
	background-color: #B6420B !important;
	border: 1px solid #B6420B !important;
	background-image: linear-gradient(to bottom, #F38B08, #F74602) !important;
	color:white !important;
}
span.simple-black-left {
    border-right: 1px solid #A2A2A2;
    padding-right: 10px;
    margin-right: 20px;
    color: #000;
    /*font-size: 12px;*/
    font-weight: bold;
}
.bold{
	/*font-weight: bold;*/
}
.ui.shape {
    display: block;
}
.ui.steps .step.active, .ui.active.step {
    background-color: #555;
    color: #FFF;
}
.margin-right{
	margin-right: 10px !important;
}
.ui.steps .step {
    padding: 1em 1em 1em 2em;
}

#thanks_page,#subscription_goal,.box_border{
	background-color: #EFEFE9;
	border-radius: 4px;
	padding:20px;
}
.ui.form .inline.fields .field {
    margin-right: 0em !important;
}
.box-gray{
	background-color: #EFEFE9;
	border-radius: 4px;
	padding:20px !important;
	margin:20px !important;
}
.page-section{
	background: -moz-linear-gradient(to top , #02415C 0px, #02415C 24%, #0360A0 100%) repeat scroll 0% 0% transparent;
	border-bottom: 1px solid #024580;
	border-top: 1px solid #44778C;
	background-color: #047BB3;
	padding-top: 20px;
	/*min-height: 150px;*/
	padding-bottom: 50px;
}

/*.column{
	position: relative;
	z-index: 200 !important;

}*/
.page-content{
	height: 100px;	
	
}
.page-gray{
	background-color: #F4F4F4;
	/*border-bottom: 1px solid #DDDFE1;*/
	height: auto;

}
.page-thin{
	background-color: #F2F6F7;
	height: auto;
	
}
.transparent-gray{
	background-color: rgba(239,239,233,0.6) !important;
}
.padding-slider{
	padding-left: 100px !important;
	padding-right: 300px !important;
	text-align: right !important;
}
.item-white{
	color:white !important;
	/*font-size: 16px !important;*/
	/*font-weight: bold;*/
	text-shadow: 1px 2px 3px #000;
	/*text-shadow: 1px 0px 2px #999;*/
	font-weight: 100;
	transition: color 0.4s ease 0s;
	text-transform: uppercase !important;
	/*padding:10px !important;*/
}
i.big.basic.icon {
    margin-right: 0em;
}

.ui.form .field > label {
    font-size: 1.1em;
}

/*.segment h4.aff {
    background: url('../images/ninegrid_affpayments_optimized.png') no-repeat scroll 0px 0px transparent;
}
.segment h4 {
    letter-spacing: 0.25px;
    line-height: 140%;
    margin: 0px 0px 5px;
    padding: 5px 0px 0px 55px;
}*/
i.inverted.green-hard.icon{
	/*color:green;*/
	background-color: green !important;
    color: #FFF !important;
}
i.inverted.blue-hard.icon {
    background-color: #047BB3 !important;
    color: #FFF !important;
}
i.inverted.facebook.icon {
    background-color: #4D57A6 !important;
    color: #FFF !important;
}
i.inverted.twitter.icon {
    background-color: #9BECEE !important;
    color: #2894CD !important;
}
i.inverted.youtube.icon {
    background-color: #C2191E !important;
    color: #FFF !important;
}
i.inverted.google.icon{
	background-color: #C2191E !important;
    color: #FFF !important;
}
.yellow{
	color:yellow;
}
.page-white{
	background-color: white;
	height: auto;

}
.text-principal{
	color:white;
	font-size: 2.8rem !important;
	line-height: 4rem;
	letter-spacing: -1px;
	font-weight: 100;
}
.ui.secondary.pointing.menu > .header-options > .item-big{
	height: 100px !important;
	padding-top: 45px !important;
}
.page-footer{
	border-bottom: 1px solid #024580;
	border-top: 1px solid #3D3D3D;
	min-height: 100px;
	background: none repeat scroll 0% 0% #3D3D3D;
	font-size: 12px !important; 

}
.digit-counter{
	width: 20px;
	height: 20px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.698);
	border-radius: 10px;
	display: inline;
	font-size: 45px;
	margin-left: 10px;
	padding: 10px;
	/*color: #CCC;*/
	color:#047BB3;
	background-color: white;
	font-weight: 100;
}
.ui.button.green{
	/*background-color: #4E943B;*/
	/*border: medium none;*/
	box-shadow: 0px 4px 0px #3F6B14;
	/*border-radius: 2px;*/
	font-size: 18px;
	font-weight: 300;
	padding: 15px 30px;
	font-weight: 600;
	background-color: #479459;
	background-image: linear-gradient( rgba(88, 183, 110, 0.05),#479459);
}
.ui.button.orange{
	/*background-color: #4E943B;*/
	/*border: medium none;*/
	box-shadow: 0px 4px 0px #A34824;
	/*border-radius: 2px;*/
	font-size: 18px;

	font-weight: 600;
	padding: 15px 30px;
	background-color: #FF6603;
	background-image: linear-gradient(rgba(229, 100, 50, 0.05),#FF6603);
}
.ui.items .item > .image > img {
    height: 200px;
}
.ui.items .item:hover {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.font-big{
	font-size: 16px !important;
	/*letter-spacing: -1px;*/

}
.font-large{
	font-size: 1.5rem !important;
	letter-spacing: -1px;
	font-weight: 400;
	/*text-align: left;*/

}
.font-large.text-icon{
	
	font-size: 1.7rem !important;

}
.text-icon>.icon{
	margin-bottom: 20px !important;
}

.font-huge{
	font-size: 3rem !important;
	letter-spacing: -1px;
	font-weight: 100;
}
.bottom-20{
	margin-bottom: 20px;
}
.font-huge >small{
	font-size: 1.5rem !important;
	display: block;
	padding: 20px;
}
.ui.corner.label .text {
    font-size: 1em;
}
.ui.large.label {
    font-size: 1.7rem;
}
.p-text{
	/*padding: 0px 20px 10px;*/
	font-size: 16px;
	font
	line-height: 1.9;
	font-family: Arial,sans-serif !important;
	/*letter-spacing: -1px;*/
}
.font-thin{
	font-weight: 100 !important;
	letter-spacing: -1px;
}
.padding-text{
	/*padding-left: 60px !important;*/
	padding-right: 60px !important;
	z-index: 10;
	position:relative;
}

b{
	font-weight: bold !important;
}
.ui.items > .row > .item, .ui.items > .item {
    min-height: 300px;
}
.ui.items > .row > .item, .ui.items > .item {
	background-color: transparent !important;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
	border-bottom: 0em solid rgba(0, 0, 0, 0.2);
}



/*nav tab*/

.tab-content > .tab-pane.active {
    display: block  !important;
}

.tab-content > .tab-pane {
    display: none !important;
}
.div-black{
	position:absolute;
	height:200px;
	width:100%;
	background-color: rgba(0, 0, 0, 0.9);
	top: 0px;
}
.description{
	text-overflow:ellipsis;
  	/*white-space:nowrap; */
  	overflow:hidden; 
}



/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/
.carousel-indicators{
	/*top: 160px !important;*/
	position: relative;
	bottom: 10px;
	left: 0%;
	z-index: 15;
	width: 100%;
	padding-left: 0px;
	margin-left: 0px;
	text-align: center;
	list-style: outside none none;
	border-bottom: 0px solid rgba(0, 0, 0, 0.1) !important;
}
.carousel-indicators .active {
    opacity: 1 !important;
}
.carousel-indicators li {
    margin-right: 5px !important;
    border: 1px solid #E96633;
    opacity: 0.5;
}
.carousel-indicators .active {
    color:#047BB3;
    /*opacity: 0.5;*/
}
.carousel-indicators .active {
    margin: 0px;
    background-color: transparent;
    margin-bottom: 20px;
}
.carousel-control{
	position: absolute;
	z-index: 1000 !important;
	padding-top: 70px;
	/*color: #E96633 !important;*/
	opacity: 0.8;
}
.carousel-control {
    /*left: -50px;*/
}
.carousel-control.right,.carousel-control.left {
    background-image: none;
}
.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
}

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #E96633;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
.margin-top{
	padding-top: 30px;
}
.menu-side-icon{
		display:none;
	}
.font15{
	font-size: 15px !important;
}
.block-center{
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-bottom: 30px;
}

@media (max-width: 800px){

	.header-options{
		display:none;
	}
	.ipad-ground{
		background-image: none;
		height:100%;
	  	background-position: 0% 0%, 50% 50%;
		/*background-position: center ;*/
		background-size: cover;
		background-repeat:no-repeat;
		padding-top:0px;
		padding-left: 0px !important;
		padding-right:0px !important;
		overflow:hidden;

	}
	.ipad-ground img{
		border-radius: 0px 0px 0px 0px;
	}
	.menu-side-icon{
		display:block;
		
	}
	.menu-side-icon i{
		font-size:30px;
		color:#047BB3;
		padding-top: 10px;
	}
	#principal{
		/*background-size: contain;
		padding-top: 30px;
		height:350px;*/
	}
	#principal .text-principal{
		text-shadow:0px 2px 3px rgba(0, 0, 0, 0.8);
	}
}
@media (max-width: 480px){

	body {
	    margin-right: -15px;

	}
}
